<ion-view view-title="消息">

  <ion-nav-bar class="bar-assertive bar bar-header">
    <ion-nav-buttons side="right">
      <button class="button bar-assertive" style="font-size: 16px" ui-sref="tab.users">
        发消息
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
                ng-repeat="message in config.messages" type="item-text-wrap">
        <img src="img/icon.png">
        <!--<show-image url="message.targetId"
                    style="top: 16px; left: 16px; max-width: 64px; max-height: 64px;"></show-image>-->
        <h2>{{message.targetName}}</h2>
        <p>{{message.message}}</p>
        <span class="badge">{{message.time}}</span>
        <span class="badge badge-assertive" style="top:36px;">{{message.newNum}}</span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
