<ion-view view-title="消息">

  <ion-nav-bar class="bar-assertive bar bar-header">
    <ion-nav-buttons side="right">
      <button class="button bar-assertive" style="font-size: 16px" ui-sref="tab.users">
        发消息
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content>

    <ion-list>
      <ion-item class="item-remove-animate item-avatar"
                ng-repeat="message in config.messages" type="item-text-wrap"
                ui-sref="tab.send({userId:message.userId, targetId:message.targetId, targetName:message.targetName})"
                ng-click="message.newNum=0">
        <!--<img src="img/icon.png">-->
        <show-image url="message.targetId"></show-image>
        <h2>{{message.targetName}}</h2>
        <p>{{message.message}}</p>
        <span class="badge" style="right:10px;">{{message.time}}</span>
        <span class="badge badge-assertive" style="top:36px;right:10px;" ng-show="message.newNum>0">{{message.newNum}}</span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
