<ion-view view-title="设备列表" hide-tabs>

  <ion-content>
    <ion-refresher on-refresh="refresh()" pulling-text="下拉更新..." refreshing-text="加载中..." refreshing-icon="ion-load-c"></ion-refresher>

    <ion-list>

      <ion-item class="item-remove-animate item-icon-right"
                ng-repeat="equip in config.equips" type="item-text-wrap"
                ui-sref="tab.fire-control-list({id:equip.id})">
        <h2>{{equip.equipName?equip.equipName:'未命名'}}</h2>
        <p>
          [<span ng-class="{balanced : equip.faultCode==0, energized : equip.faultCode==-1, assertive : equip.faultCode!=0 && equip.faultCode!=-1}">
            {{equip.faultMsg?equip.faultMsg:'故障'}}
          </span>]
          {{equip.equipCode?equip.equipCode:'未编号'}}</p>
        <span class="badge" style="top: 26px; right: 22px">
              {{equip.distance}}
        </span>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>

    <ion-infinite-scroll on-infinite="infinite()" icon="ion-load-c" ng-if="config.infinite"></ion-infinite-scroll>
  </ion-content>

</ion-view>
