<ion-view view-title="设备详细">

  <ion-content>

    <ion-list>

      <ion-item class="item">
        <span class="input-item mrg-right-10">设备名称</span>
        <span class="show-text">{{equip.equipName}}</span>
      </ion-item>

      <ion-item class="item">
        <span class="input-item mrg-right-10">设备编号</span>
        <span class="show-text">{{equip.equipCode}}</span>
      </ion-item>

      <ion-item class="item">
        <span class="input-item mrg-right-10">安装地点</span>
        <span class="show-text">{{equip.address}}</span>
      </ion-item>

      <ion-item class="item">
        <span class="input-item mrg-right-10">运行情况</span>
        <span class="show-text">{{equip.faultMsg}}</span>
      </ion-item>

      <ion-item class="item">
        <span class="input-item mrg-right-10">节点名称</span>
        <span class="show-text">{{equip.nodeText}}</span>
      </ion-item>

      <ion-item class="item">
        <span class="input-item mrg-right-10">节点编号</span>
        <span class="show-text">{{equip.destinationNum}}</span>
      </ion-item>

      <ion-item class="item">
        <span class="input-item mrg-right-10">主机名称</span>
        <span class="show-text">{{equip.hostName}}</span>
      </ion-item>

      <ion-item class="item">
        <span class="input-item mrg-right-10">主机地址</span>
        <span class="show-text">{{equip.hostAddress}}</span>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>
