<ion-view view-title="监控数据">

  <ion-content>

    <ion-list>
      <ion-item class="item-divider text-center">IFD实时数据</ion-item>
      <ion-item>
          <div class="row">
            <div class="col col-20 col-offset-10">管(1)：</div>
            <div class="col">颗粒度% {{equip.fireValue1}}</div>
            <div class="col">灵敏度 {{equip.gain1}}</div>
          </div>

          <div class="row">
            <div class="col col-20 col-offset-10">管(2)：</div>
            <div class="col"><span class="color-fff">颗粒度%</span> {{equip.fireValue2}}</div>
            <div class="col"><span class="color-fff">灵敏度</span> {{equip.gain2}}</div>
          </div>

          <div class="row">
            <div class="col col-20 col-offset-10">管(3)：</div>
            <div class="col"><span class="color-fff">颗粒度%</span> {{equip.fireValue3}}</div>
            <div class="col"><span class="color-fff">灵敏度</span> {{equip.gain3}}</div>
          </div>

          <div class="row">
            <div class="col col-20 col-offset-10">管(4)：</div>
            <div class="col"><span class="color-fff">颗粒度%</span> {{equip.fireValue4}}</div>
            <div class="col"><span class="color-fff">灵敏度</span> {{equip.gain4}}</div>
          </div>
      </ion-item>
      <ion-item class="item-divider text-center">IFD实时数据-柱状图</ion-item>
      <ion-item>
        <canvas id="bar"
                class="chart chart-bar"
                data="data"
                labels="labels"
                legend="true"
                series="series"
                options="{showTooltips: true}"></canvas>
      </ion-item>
    </ion-list>

  </ion-content>

</ion-view>
