<ion-view view-title="设备详细">

  <ion-content>
    <ion-list>

      <ion-item class="item item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/equip/map">
        <i class="icon ion-ios-navigate assertive"></i>
        设备地图
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item item-icon-left item-icon-right" type="item-text-wrap" href="#/tab/equip/fire-control">
        <i class="icon ion-fireball assertive"></i>
        消防设备
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>
