<ion-view view-title="详细信息" hide-tabs>

  <ion-content>
    <ion-list>

      <ion-item class="item item-icon-left item-icon-right" type="item-text-wrap" ui-sref="tab.fire-control-detail({id:id})">
        <i class="icon ion-clipboard assertive"></i>
        设备详细
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item item-icon-left item-icon-right" type="item-text-wrap" ui-sref="tab.fire-control-monitor({id:id})">
        <i class="icon ion-ionic assertive"></i>
        监控数据
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item item-icon-left item-icon-right" type="item-text-wrap" ui-sref="tab.fire-control-status({id:id})">
        <i class="icon ion-ios-star-half assertive"></i>
        状态信息
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>
