<ion-view view-title="设备详细">

  <ion-content>
    <ion-list>

      <label class="item item-input">
        <span class="input-label">设备名称：</span>
        <input type="text" class="form-control" ng-model="equip.equipCode" disabled>
      </label>

      <label class="item item-input">
        <span class="input-label">设备编号：</span>
        <input type="text" class="form-control" ng-model="equip.equipName" disabled>
      </label>

      <label class="item item-input">
        <span class="input-label">安装地点：</span>
        <input type="text" class="form-control" ng-model="equip.address" disabled>
      </label>

      <label class="item item-input">
        <span class="input-label">运行情况：</span>
        <input type="text" class="form-control" ng-model="equip.faultMsg" disabled>
      </label>

      <label class="item item-input">
        <span class="input-label">节点名称：</span>
        <input type="text" class="form-control" ng-model="equip.nodeText" disabled>
      </label>

      <label class="item item-input">
        <span class="input-label">节点编号：</span>
        <input type="text" class="form-control" ng-model="equip.destinationNum" disabled>
      </label>

      <label class="item item-input">
        <span class="input-label">主机名称：</span>
        <input type="text" class="form-control" ng-model="equip.hostName" disabled>
      </label>

      <label class="item item-input">
        <span class="input-label">主机地址：</span>
        <input type="text" class="form-control" ng-model="equip.hostAddress" disabled>
      </label>

    </ion-list>
  </ion-content>

</ion-view>
