<ion-view view-title="详细信息" hide-tabs>

  <ion-content>
    <ion-list>

      <ion-item class="item item-icon-left item-icon-right" type="item-text-wrap" href="#">
        <i class="icon ion-ios-navigate assertive"></i>
        设备详细
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item item-icon-left item-icon-right" type="item-text-wrap" href="#">
        <i class="icon ion-fireball assertive"></i>
        监控数据
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

      <ion-item class="item item-icon-left item-icon-right" type="item-text-wrap" href="#">
        <i class="icon ion-fireball assertive"></i>
        状态信息
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>

    </ion-list>
  </ion-content>

</ion-view>
