<style>
  .list .item {
    border: none;
  }
</style>
<ion-view view-title="{{params.userName}}" hide-tabs>

  <ion-content class="has-footer" delegate-handle="mainScroll">

    <div id="pushContent" class="list">

      <div class="item item-avatar scroll-content"
           ng-repeat="msg in config.messages">
        <show-image url="message.targetId"></show-image>
        <pre class="msg-left">{{msg.content}}</pre>
      </div>

    </div>

  </ion-content>

  <ion-footer-bar class="stable-bg item-input-inset">

    <label class="item-input-wrapper">
      <input type="search" id="content">
    </label>
    <button class="button button-clear" ng-click="send()">
      发送
    </button>

  </ion-footer-bar>
</ion-view>
